<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prasanna</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}"/>

</head>
<body>

<div class="nav-bar">
    <ul>
        
        
      <li style="margin-left: 50px;"><a href="{{url_for('home')}}">Home</a></li>
      
      <li><a href="{{url_for('about')}}">About</a></li>
      
        
      <li><a href="{{url_for('project')}}">Project</a></li>
      
      <li><a href="{{url_for('contact')}}">Contact</a></li>
      
    </ul>
</div>

<div class="intern">
  <h2 style="background-color:lightcyan; color: black;">Nucaza Innovations Pvt Ltd</h2>
  <ul>
    <li>I am currently Python developer training in Nucaza Innovations Pvt Ltd .I learn basics of Python and Flask.I devlope my portfolio website by teaching.</li>
  </ul>
</div>
<div style="margin-left: 10%;margin-top: 5%;">
    
    <h4 style="display: inline;margin-left: 15%;">Resume : </h1><a href="https://in.docworkspace.com/d/sID2tnfJnnaWrtAY">Resume</a>
    
</div>




</body>
</html>