<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prasanna</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/contact.css')}}"/>

</head>
<body>

<div class="nav-bar">
    <ul>
        
        
      <li style="margin-left: 50px;"><a href="{{url_for('home')}}">Home</a></li>
      
      <li><a href="{{url_for('about')}}">About</a></li>
      
        
      <li><a href="{{url_for('project')}}">Project</a></li>
      
      <li><a href="{{url_for('contact')}}">Contact</a></li>
      
    
    </ul>
</div>

</div>
    <p>Name         : M PRASANNA <br>Phone Number : 85268 10268<br>Email Id     : prasanna1762001@gmail.com<br>Address:1/128A, oorkkadu,poonampalayam,mannachanallur,trichy(dt)<br>City:Trichy</p>



</body>
</html>