<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prasanna</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}"/>

</head>
<body>
<h2 style="margin-left: 650px;">Hai!</h2>
<h3 style="margin-left: 40%;animation:alternate-reverse;animation-duration: 10s;">I am Prasanna </h3>
<div class="nav-bar">
    <ul>
        
        
      <li ><a href="{{url_for('home')}}">Home</a></li>
      
      <li><a href="{{url_for('about')}}">About</a></li>
      
        
      <li><a href="{{url_for('project')}}">Project</a></li>
      
      <li><a href="{{url_for('contact')}}">Contact</a></li>
      
    
    </ul>
</div>

<div class="profile">
    <img src="{{url_for('static',filename='Prasanna.jpg')}}" width='500px'height='500px ' > 
    
</div>

<div class="content">
    
    <p style="font-size: 30px;font-family: 'Times New Roman', Times, serif;text-align: left;">  I am  <b>M PRASANNA</b>.I am from <b>Trichy</b>.I completed <b>M.SC.Computer Science</b> from Bishop Heber College in 2024 .I know basic of <B>PYTHON AND FLASK </B> .my skill are Time management and multitask handler.My hobbies are<b> Playing Cricket and listening songs</b> .My strength is Hardworking person, excited to learn new technologies and <b>quick learning person</b> . </p>
</div>

</body>
</html>